<!DOCTYPE html>

<head>
    <title>Bitcoin Minigame</title>
</head>
<body>
    <header>
        <h1>Bitcoin Prediction Game</h1>
        <span>Score: 0/0</span>
        <button>Reset Score</button>
    </header>

    <main>
        <h1>Bitcoin Prediction Challenge</h1>
        <h3>How to play:</h3>
        <p id="demo">
            You will be shown a random 1-month period from the last year's 
            Bitcoin price. Predict if Bitcoin was rising or falling during
            that month!
        </p>
        <button type="button" onclick='document.getElementById("demo").innerHTML = "Game Started!"'>Start New Game</button>
    </main>

    <footer>
        <p>&copy Data provided by CoinGecko</p>
    </footer>
</body>