{% extends "base.html" %}

{% block title %}Bitcoin Minigame - Home{% endblock %}

{% block content %}
<!-- Welcome Screen -->
<div id="welcome-screen" class="screen">
    <h2>Welcome to Bitcoin Prediction Game!</h1>
    <h3>How to play:</h3>
    <p id="demo">
        You will be shown a random 1-month period from the last year's 
        Bitcoin price. Predict if Bitcoin was rising or falling during
        that month!
    </p>
    <button id="start-game">Start New Game</button>
</div>

<!-- Game Screen -->
<div id="game-screen" class="screen">
    <div id="loading">Loading Bitcoin data...</div>
    <div id="question-content" style="display: none;">
    <!-- <div id="question-content"> -->
        <p>Period: <span id="date-range"></span></p>
        <h4>Was Bitcoin Rising or falling?</h4>
        <button class="answer-btn" data-answer="rising">Rising</button>
        <button class="answer-btn" data-answer="falling">Falling</button>
    </div>
</div>

<!-- Result Screen -->
<div id="result-screen" class="screen">
    <div id="victory-content" style="display: none;">
        <h1>VICTORY!</h1>
        <p>Your prediction is correct!</p>
    </div>

    <div id="defeat-content" style="display: none;">
        <h1>DEFEAT</h1>
        <p>Your prediction is wrong...</p>
    </div>

    <div id="result-details">
        <div>
            <h3>Result Details</h3>
            <p id="result-explanation"></p>
            <p id="price-change-info"></p>
        </div>

        <div>
            <button id="play-again">Play Again</button>
            <button id="back-to-menu">Back to Menu</button>
        </div>
    </div>
</div>

<!-- Error Screen -->
    <div id="error-screen" class="screen">
        <h2>Oops! Something went wrong</h2>
        <p id="error-message">Unable to load Bitcoin data...</p>
        <button id="retry-btn">Try Again</button>
        <button id="back-to-menu-error">Back to Menu</button>
    </div>
{% endblock %}