{% extends "base.html" %}

{% block title %}Bitcoin Minigame - Home{% endblock %}

{% block content %}
<div id="welcome-screen">
    <h2>Welcome to Bitcoin Prediction Game!</h1>
    <h3>How to play:</h3>
    <p id="demo">
        You will be shown a random 1-month period from the last year's 
        Bitcoin price. Predict if Bitcoin was rising or falling during
        that month!
    </p>
    <button id="start-game">Start New Game</button>
</div>

<div id="game-screen" style="display: none">
    <!-- <div id="loading">Loading Bitcoin data...</div> -->
    <!-- <div id="question-content" style="display: none;"> -->
    <div id="question-content">
        <p>Period: <span id="date-range"></span></p>
        <h4>Was Bitcoin Rising or falling?</h4>
        <button class="answer-btn" data-answer="rising">Rising</button>
        <button class="answer-btn" data-answer="falling">Falling</button>
    </div>
</div>


<div id="game-message"></div>
{% endblock %}